{% extends 'base.html' %} {% block body %} {% load crispy_forms_tags %}
<div>
    <h1>Edit wish:</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div clas="form-group">
            <label for="item">Item*</label>
            <input type="text" value="{{wish.item}}" name="item" id="item" class="form-control" />
        </div>
        <div clas="form-group">
            <label for="description">Description*</label>
            <textarea name="description" id="description" class="form-control">{{wish.description}}</textarea>
        </div>
        <br />
        <button class="btn btn-success">Save</button>
    </form>

</div>
{% endblock %}